::deep div.apx-legend-position-right {
    overflow-y: scroll;
}

.rgfcharts-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rgfcharts-justify-content-start {
    justify-content: flex-start;
    align-items: flex-end;
}

.rgfcharts-justify-content-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.p-1 {
    padding: 0.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: 0.3s;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

    .tabcontent.active {
        display: block;
    }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .accordion.active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .accordion.active:after {
        content: "\2212";
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

    .panel.active {
        display: block;
    }
